{% extends "post.html" %}
{% load static %}
<script src="{% static 'htmx.min.js' %}" defer></script>
{% block content %}

<div class="row" id="content">
  {% include "post-list-elements.html" %}
</div>
<div class="row column">
  {% comment %} TODO: исправить шаблон пагинации {% endcomment %}
  <ul class="pagination" role="navigation" aria-label="Pagination">
    {% comment %} <li class="disabled">Previous</li> {% endcomment %}
    {% if page_obj.has_previous %}
    {% comment %} <li class="current"><span class="show-for-sr">You're on page</span> 1</li> {% endcomment %}
    {% comment %} <li><a href="?page=1" aria-label="Page 1">&laquo; first</a></li> {% endcomment %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% comment %} <li><a href="#" aria-label="Page 4">4</a></li> {% endcomment %}
    {% endif %}
    {% comment %} <span class="cureent">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span> {% endcomment %}
    {% if page_obj.has_next %} 
      <li><a href="?page={{ page_obj.number}}">{{ page_obj.number }}</a></li>
      <li><a href="?page={{ page_obj.number}}">{{ page_obj.paginator.ELLIPSIS }}</a></li>
      <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
    {% comment %} <li class="ellipsis"></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li><a href="#" aria-label="Page 13">13</a></li>
    <li><a href="#" aria-label="Next page">Next</a></li> {% endcomment %}
  </ul>
</div>
{% endblock %}