{% extends 'post.html' %}
{% load static %}
{% block content %}

  {% comment %} <form action="" method=POST>
    {% csrf_token %}
    <input type="submit">
  </form> {% endcomment %}
  {% comment %} TODO: доделать логику формы рег-ии: вьюхи и модель {% endcomment %}
  
  <div class="row column align-center medium-5 large-4">
    <div data-closable class="alert-box callout warning">
      {% if messages %}
        {% for message in messages %}
          {% comment %} TODO: сюда засунуть предупреждение {% endcomment %}
            <i class="fa fa-exclamation-triangle"></i>
              {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&CircleTimes;</span>
            </button>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-registration">
      <figure class="form-registration-img">
        <img src="https://images.pexels.com/photos/221205/pexels-photo-221205.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" />
        <figcaption class="form-registration-img-caption">Login</figcaption>
      </figure>
    
      <form method=POST class="form-registration-group" action="">
        {% csrf_token %}
        <input class="form-registration-input" type="text" placeholder="Name" name="username">
        {% comment %} <input class="form-registration-input" type="email" placeholder="Email"> {% endcomment %}
        <input class="form-registration-input" type="password" placeholder="Password" name="password">
        <input class="form-registration-submit-button" type="submit" value="Continue">
        <p class="or-divider"><span>or</span></p>
        <a class="form-registration-social-button" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Sign Up With facebook</a>
        <p class="form-registration-member-signin">Already a member? <a href="#">Sign in</a></p>
        <p class="form-registration-terms"><a href="#">Terms &amp; Conditions</a>|<a href="#">Privacy</a></p>
      </form>  
    </div>
  </div>
{% endblock %}